h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

body {
    font-family: 'Montserrat';
}

h2 {
    font-family: 'Montserrat';
    font-weight: bold;
    /* color: white; */
    line-height: 1.5;
    font-size: 3rem;
}

.container-fluid {
    padding: 3% 15% 7%;
}



#title {
    background-color: #ff4c68;
    color: #fff;
}

#features {
    text-align: center;
    padding: 5rem 10%;
}

/* Navigation Bar */

.navbar {
    margin-bottom: 4.5rem;
    padding: 0;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-weight: bold;
    font-size: 2.5rem;

}

.nav-item {
    padding: 0 18px;
    font-size: 1.2rem;
    font-weight: 300;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}


/* Features */

#features {
    background-color: white;
    position: relative;
    z-index: 1;
}

.feature-icon {
    color: #ef8172;
    font-size: 4rem;
}

.feature-icon:hover {
    color: #ff4c68;
}

.feature-item {
    margin: 3rem 2rem;
    padding: 0 1rem;
}

.feature-title {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.feature-description {
    color: #8f8f8f;
}

#testimonials {
    background-color: #ef8172;
    text-align: center;
}

.carousel-item {
    padding: 7% 15%;
}

.testimonial-text {
    color: white;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding: 2rem;
}

.press-image {
    width: 12%;
    margin: 0 40px 20px;
}


/* Pricing */

#pricing {
    padding: 100px;
    text-align: center;
}

.price-column {
    padding: 3% 2%;
}

.pricing-cards {
    margin-top: 4rem;
}





@media (max-width: 1028px) {
    .title-image {
        transform: rotate(0);
        position: static;
    }

    #title {
        text-align: center;
    }
}
